<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center" align="center">
    <h1>Bank Management System</h1>
    <h2><a style="background-color: red; color: black; padding: 7px 10px; " href="/accounts">Manage Accounts</a></h2>
</div>
</body>
<head>
    <style>
        h1 {
            color: white;
        }


        body {
            margin: 0;
            padding-top: 100px;
            background-color: #363958;
        }

    </style>
</head>
</html>

